<html>
  <body class="homepage">
    <div>
      <h1 class="title"> ChessMates</h1>
      <br/><br/>
      <h3 class="subtitle"> A Chess App Created With Ruby On Rails</h3>
    </div>    
  </body>
</html>