<div class ="games-list">
  <h3>Available Chess Games</h3>

  <div class="card-deck">
    <% @games.reverse.each do |game| %>
      <div class="card">
        <%= image_tag("chess.jpg", class: "card-img-top") %>
        <div class="card-body">
         <h4><%= game.game_name %></h4><br />
         <h5 class ="game-creator">Created By: <%= game.white_player.username %></h5>
         <br/>
          <%= link_to 'Play Game', game_path(game), class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>
</div>
</div>

    

