<div class ="games-list">
  <h3>Available Chess Games</h3>

  <div class="card-deck">
    <% @games.reverse.each do |game| %>
      <div class="card">
        <img class="card-img-top" src="app/assets/images/chess.jpg">
        <div class="card-body">
         <h4><%= game.game_name %></h4><br />
         <h5>Created By: <%= game.white_player.username %></h5>
          <%= link_to 'Play Game', game_path(game), class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>
</div>
</div>

    