.chessboard {
    width: 642px;
    height: 642px;
    margin: 20px;
    border: 1px solid #111;
}
.black {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #999;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.white {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #fff;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}

h3 {
    text-align: center;
}

.games-list {
    padding-top: 80px;
}

.card-deck {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
}

.card-body {
    text-align: center;
}