@import "bootstrap";

p.alert {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.add a {
  font-weight: bold;
  font-size: 17px;
}

.add a + a {          /* the "+" selects from 2nd child on */
  padding-left: 8px;
}


.homepage {
  background: image_url('background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.title {
  color: #ffffff;
}

.subtitle {
  color: #ffffff;
}