@import "bootstrap";

p.alert {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.add a {
  font-weight: bold;
  font-size: 17px;
}

.add a + a {          /* the "+" selects from 2nd child on */
  padding-left: 8px;
}


.homepage {
  background: image_url('background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title {
  color: #ffffff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clear: none;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 4px;
  font-family: 'Heebo', sans-serif;
}

