
.form-signin {
  max-width: 330px;
  margin: 0 auto;
}

.containr {
  width: 720px;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 60px;
  padding-bottom: 40px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  line-height: 1.5;
  color: #292b2c;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;

}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.registration {
  
  background-color: #eee;
}

label {
    display: inline-block;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-control {
    display: block;
    width: 100%;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}





